/* --------------- OVERALL --------------- */

* {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0px;
}

.hidden{
  display: none!important;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  color: white;
  background-color: black;
}

/* --------------- LOGIN --------------- */

img {
  height: 100vh;
  width: 100vw;
}

.login-header {
  position: absolute;
  margin-right: 40%;
  margin-bottom: 40%;
  font-size: 8em;
  font-weight: bold;
}

.login-tagline {
  position: absolute;
  margin-right: 35%;
  margin-bottom: 20%;
  font-size: 2em;
}

.login {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-box {
  position: absolute;
  height: 30%;
  width: 30%;
  margin-left: 40%;
  background: white;
  opacity: 0.6;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-details {
  background: white;
  text-align: center;
  flex-direction: column;
  font-size: 15px;
}

.user-login-inputs{
  background: white;
  opacity: 1;
}
.login-button {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* --------------- DASHBOARD --------------- */

.dashboard {
  background-image: url(../images/pool-image.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
}

header {
  font-size: 8em;
  font-weight: bold;
  padding: 20px;
}

.welcome-info {
  border: 2px solid black;
  width: 40vw;
  margin-left: 55px;
  background-color: white;
  opacity: .7;
  padding: 2%
}

.welcome-header {
  font-size: 2.5em;
}

.reservation-header {
  font-size: 2em;
  margin: 15px;
}

.upcoming-bookings-list,
.past-bookings-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.upcoming-reservation,
.past-reservation {
  height: 200px;
  width: 250px;
  background-color: white;
  opacity: .7;
  color: black;
  margin: 15px;
  padding: 15px;
  border: 2px solid black;
}

.reservation-title {
  font-weight: 500;
}

/* --------------- SEARCH --------------- */

.booking-view {
  background-image: url(../images/pool-image.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
  /* height: 100vh; */
}

.search-section {
  border: 2px solid black;
  width: 40vw;
  margin-left: 55px;
  background-color: white;
  opacity: .8;
  padding: 2%
}

.search-header {
  font-size: 2.5em;
}

.search-date,
.room-filter {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.available-rooms-header {
  font-size: 2em;
  margin: 15px;
}

.available-room {
  cursor: pointer;
  height: 200px;
  width: 200px;
  background-color: white;
  opacity: .7;
  color: black;
  margin: 15px;
  padding: 10px;
  z-index: 10;
}

.available-room:hover {
  transform: scale(1.1);
}

.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: white;
  border: 1px solid #888;
  color: black;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.modal-booking-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

p,
h3 {
  pointer-events: none;
}