* {
  border: solid red 2px;
}



.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  display: flex;
}

.book-a-stay {
  /* width: 35% */
}

.reservations-container {
  /* width: 65% */
}

.upcoming-bookings-list,
.past-bookings-list,
.available-rooms-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.hidden{
  display: none;
}
